<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >


  <!-- optional, add some variabeles
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name ="verbose" value="${date:format=yyyy-MM-dd HH\:mm\:ss} : [${pad:padding=5:inner=${level:uppercase=true}}] {${pad:padding=10:fixedLength=true:inner=${logger}}} - ${message}" />
  <variable name ="simple" value="${message}" />
  <variable name="logDir" value="" />
  <variable name ="logPath" value="${var:logDir}/log" />

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!-- 
    add your targets here 
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--
    Writing events to the a file with the date in the filename. 
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->

    <!-- Text file -->
    <target name="file" xsi:type="File"
           layout="${verbose}"
           fileName="${basedir}/${logPath}/${shortdate}.txt"
           keepFileOpen="false"
           encoding="utf-8">
    </target>

    <!-- Text file for error -->
    <target name="file-error" xsi:type="File"
               layout="${verbose}"
               fileName="${basedir}/${logPath}/${shortdate}-error.txt"
               keepFileOpen="false"
               encoding="utf-8">
    </target>
    
    <!-- target to save http -->
    <target name="file-http" xsi:type="File"
           layout="${verbose}"
           fileName="${basedir}/${logPath}/http/${shortdate}.txt"
           keepFileOpen="false"
           encoding="utf-8">
    </target>

    <!-- target to save http -->
    <target name="file-raw" xsi:type="File"
           layout="${verbose}"
           fileName="${basedir}/${logPath}/raw/${shortdate}.txt"
           keepFileOpen="false"
           encoding="utf-8">
    </target>


    <!-- target to save station -->
    <target name="file-station" xsi:type="File"
           layout="${verbose}"
           fileName="${basedir}/${logPath}/station/${shortdate}.txt"
           keepFileOpen="false"
           encoding="utf-8">
    </target>

    <!-- target to save error JSON data -->
    <target name="fileJson-error" xsi:type="File"
           layout="${simple}"
           fileName="${basedir}/${logPath}/${shortdate}-error.json"
           keepFileOpen="false"
           encoding="utf-8">
    </target>

    <!-- UDP -->
    <target xsi:type="Network"
            name="UDP"
            onOverflow="Split"
            newLine="true"
            layout="${verbose}"
            maxMessageSize="4096"
            address="udp://255.255.255.255:11000">
    </target>

    <!-- Plain console -->
    <target name="Console" xsi:type="Console"
            layout="${verbose}"
            >
    </target>
    
    <!-- Color console -->
    <target xsi:type="ColoredConsole"
              name="ColoredConsole"
              layout="${verbose}"
              useDefaultRowHighlightingRules="True"
              errorStream="false">
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Yellow" backgroundColor="Red" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red"/>
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Cyan"/>
      <highlight-row condition="level == LogLevel.Info" foregroundColor="White"/>
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray"/>
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray"/>

    </target>

  </targets>

  
  <rules>
    <!-- add your logging rules here -->

    <logger name="*" minlevel="Trace" maxlevel="Fatal" writeTo="ColoredConsole" />

    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
  </rules>
</nlog>
